<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
  <div id="app"></div>
  <script>!function(e,t){const n=t.documentElement;let d=n.clientWidth;function i(){425<d&&(d=425),n.style.fontSize=d/750*100+"px"}t.body.style.maxWidth="425px",i(),e.addEventListener("resize",i),e.addEventListener("pageshow",e=>{e.persisted&&i()})}(window,document);</script>
</body>

</html>